{% extends 'base.html' %}

{% block title %}
    Product participation
{% endblock %}


{% block content %}
<div>
    <!-- Mise en place d'une flèche pour revenir à liste_naissance.html -->
    <a href="{{ url_for('views.liste_naissance') }}">
        <img src="{{ url_for('static', filename='images/left-arrow.png') }}" alt="Logo" style="max-width: 50px; margin: 0 0 0 10px;">
    </a>
</div>

<!-- Loader -->


<div class="my_container">
    {% if participation == "0" %}

        <h2>Merci beaucoup !</h2>
        <p>Nous vous contacterons bientôt pour voir comment récupérer votre participation</p>

    {% else %}

        {% if admin_iban %}
        <div class="product_card" id="product_card" onclick="copyTextToClipboard()">
            <!-- Titre du produit -->
            <h2>Merci beaucoup {{username}} pour les {{participation}}€ !</h2>

            <!-- Description du produit -->
            <div class="product-description">Voici les informations bancaires afin de nous les faire parvenir :</div>
            <div class="product-description">{{ admin_iban }}</div>
        </div>
        {% else %}
            <div class="my_card inert_card">
                <!-- Titre du produit -->
                <h2>Votre participation de {{participation}}€ a bien été prise en compte, merci beaucoup !</h2>
                <!-- Description du produit -->
                <div class="product-description">L'IBAN n'est pas encore disponible. Vous pourrez le retrouver dans votre espace personnel une fois qu'il aura été communiqué par son propriétaire.
                </div>
            </div>
        {% endif %}

    {% endif %}

    

    <a href="{{ url_for('views.my_projects') }}" class="product-link" style="text-decoration: none;" >
        <div class="my_projects_cards">
            <!-- Titre du produit -->
            <div class="page_title">Retrouvez ici toutes vos participations</div>

        </div>
    </a>
</div>


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script>
    //Mise en forme du message informant du copier/coller
        function copyTextToClipboard() {
            const textToCopy = "{{ admin_iban }}";
            const notification = document.createElement('div');
            notification.classList.add('copy_notification');
            notification.textContent = "IBAN copié";

            document.body.appendChild(notification);

            navigator.clipboard.writeText(textToCopy).then(function() {
                setTimeout(function() {
                    notification.remove();
                }, 2000);
            }, function(err) {
                console.error('Erreur lors de la copie du texte: ', err);
            });
        }
    </script>




{% endblock %}
