{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
 <!-- Récupération du prono concernant le sexe afin de mettre en forme les boutons en conséquence -->
 <div id="gender_choice" data-gender="{{ session['gender_choice'] }}"></div>
 
    <!-- Mise en place d'une flèche pour revenir à l'environnement précédent -->
    <a href="{{ url_for('views.menu_1') }}">
        <img src="{{ url_for('static', filename='images/left-arrow.png') }}" alt="Logo" style="max-width: 50px; margin: 0 0 0 10px;">
    </a>

    <div class="my_container">
        <div class="inert_card">
            <h1>Modifier le produit</h1>
            <form method="post">
                    <label for="text">Titre du produit</label>
                    <input type="text" class="form-control text-center" name="product_name" value="{{product.name}}" maxlength="50" >

                    <label for="text">Description</label>
                    <input type="text" class="form-control text-center" name="product_description" value="{{product.description}}" maxlength=150>

                    <label for="text">Prix</label>
                    <input type="number" class="form-control text-center" name="product_price" value="{{product.price}}">

                    <label for="text">Reste à financer</label>
                    <input type="number" class="form-control text-center" name="product_left_to_pay" max="{{product.price}}" value="{{product.price - product.already_paid}}">

                    <label for="text">url du produit</label>
                    <input type="text" class="form-control text-center" name="product_url_source" maxlength="150" value="{{product.url_source}}">

                    <label for="text">url image</label>
                    <input type="url" class="form-control text-center" name="product_image_url" maxlength="150" value="{{product.image_url}}">
                
                    <button type="submit" class="my_btn" id="my_button">Modifier</button>

            </form>
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
        </div>
    </div>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        // Mise en forme boutons en fonction su sexe
            // Récupération du prono
            var genderChoiceElement = document.getElementById('gender_choice');
            var genderChoice = genderChoiceElement.dataset.gender;

            // Récupération de l'id du bouton
            var button = document.getElementById('my_button');

            // Définir la classe en fonction de la valeur de gender_choice
            if (genderChoice === "Fille") {
                button.classList.add("gender_girl");
            } else if (genderChoice === "Garçon") {
                button.classList.add("gender_boy");
            } else {
                button.classList.add("no_gender");
            }
        });
    </script>


{% endblock %}
