{% extends 'base.html' %}

{% block title %}
    Change username
{% endblock %}


{% block content %}

    <div>
        <!-- Mise en place d'une flèche pour revenir à liste_naissance.html -->
        <a href="{{ url_for('views.my_profil') }}">
            <img src="{{ url_for('static', filename='images/left-arrow.png') }}" alt="Logo" style="max-width: 50px; margin: 0 0 0 10px;">
        </a>
    </div>

    <div class="my_container">
        <div class="my_card inert_card">
            <h1>Changer de nom d'utilisateur</h1>
            <form method="post">
                <label for="username">Nom</label>
                <input type="username" class="form-control text-center" name="new_username" value="{{user_username}}" maxlength="20" required>                
                <button type="submit" class="my_btn">Changer</button>
            </form>
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
