{% extends 'base.html' %}

{% block title %}
    Mon profil
{% endblock %}


{% block content %}

    <div class="my_container">
        <h1>Mon Profil</h1>
        <div class="multiple_btn_container">
            <a href="/change_username" class="my_btn">Changer le nom d'utilisateur</a>
            <a href="/change_email" class="my_btn">Changer l'adresse mail</a>
            <a href="/change_password" class="my_btn">Changer le mot de passe</a>
            
        </div>
    </div>

    
<!-- Structure de la fenêtre modale pour supprimer son profil -->
<div class="my_container">
    <div id="myModal_delete_profil" class="modal" onclick="closeModal_delete_profil()">
        <div class="modal_content">
            <div class="exit_cross">
                <span class="close_icon" onclick="closeModal_delete_profil()">&times;</span>
            </div>
            <form method="POST" action="{{ url_for('auth.delete_account') }}" class="p-5 text-center">
                <p>ATTENTION cette action est irréversible !</p>
                <button type="submit" class="btn btn-danger">Supprimer mon profil</button>
            </form>
        </div>
    </div>
</div>

<div class="my_container">
    <h1>Supprimer mon profil</h1>
    <p>Si vous souhaitez supprimer votre profil, cliquez sur le bouton ci-dessous.</p>
    <!-- <button onclick="openModal_delete_profil()" class="my_btn red_admin_button">Supprimer le profil</button> -->
</div>



<script>
    function openModal_delete_profil() {
        document.getElementById('myModal_delete_profil').style.display = 'flex';
    }
    
    function closeModal_delete_profil() {
        document.getElementById('myModal_delete_profil').style.display = 'none';
    }
</script>


{% endblock %}
