{% extends 'base.html' %}

{% block title %}
    Change username
{% endblock %}


{% block content %}
    <div>
        <!-- Mise en place d'une flèche pour revenir à menu_1.html -->
        <a href="{{ url_for('views.menu_1') }}">
            <img src="{{ url_for('static', filename='images/left-arrow.png') }}" alt="Logo" style="max-width: 50px; margin: 0 0 0 10px;">
        </a>
    </div>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="card p-4">
            <h1 class="text-center mb-1">Ajouter un produit à la liste</h1>
            <form method="post">
                <div class="form-group">
                    <label for="text">Titre du produit</label>
                    <input type="text" class="form-control" name="product_name" placeholder="Nom du produit" required>
                </div>
                <div class="form-group">
                    <label for="text">Description</label>
                    <input type="text" class="form-control" name="product_description" placeholder="Description du produit" required>
                </div>
                <!-- <div class="form-group">
                    <label for="text">Prix</label>
                    <input type="text" class="form-control" name="product_price" placeholder="Prix du produit" required>
                </div> -->
                <p>Prix</p>
                <div class="text-center">
                    <input type="range" class="form-range" id="product_price" name="product_price" min="0" max="1000" step="1" oninput="updateprice(this.value)">
                    <span id="price">0</span> €
                </div>
                <!-- <div class="form-group">
                    <label for="text">Photo</label>
                    <input type="text" class="form-control" name="product_photo" placeholder="Photo du produit" required>
                </div> -->
                <div class="form-group">
                    <label for="text">url du produit</label>
                    <input type="text" class="form-control" name="product_url_source" placeholder="url du produit" required>
                </div>
                
                <button type="submit" class="btn btn-primary btn-block mt-3">Ajouter</button>
            </form>
            {% if error %}
            <div class="alert alert-danger mt-3">{{ error }}</div>
            {% endif %}
        </div>
    </div>


<script>
    // Fonction pour mettre à jour la valeur du prix
    function updateprice(value) {
        document.getElementById("price").textContent = value;
    }

    // Mettre à jour la valeur de départ du curseur pour le prix
    window.onload = function() {
        var Initialprice = "0";
        document.getElementById("product_price").value = Initialprice;
        updateprice(Initialprice);
    };
</script>
{% endblock %}
