{% extends 'base.html' %}

{% block title %}
    Change username
{% endblock %}


{% block content %}
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card p-4">
            <h1 class="text-center mb-1">Changer de mot de passe</h1>
            <form method="post">
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Nouveau mot de passe" required>
                    </br>
                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirmer le nouveau mot de passe" required>
                </div>
                
                <button type="submit" class="btn btn-primary btn-block mt-3">Changer</button>
            </form>
            {% if error %}
            <div class="alert alert-danger mt-3">{{ error }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
