{% extends 'base.html' %}

{% block title %}
    Change username
{% endblock %}


{% block content %}
    <div class="my_container">
        <div class="inert_card">
            <h1>Changer d'email</h1>
            <form method="post">
                <label for="email">Adresse mail</label>
                <input type="email" class="form-control text-center" name="new_email" placeholder="{{user_email}}" required>                
                <button type="submit" class="my_btn">Changer</button>
            </form>
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
