{% extends 'base.html' %}

{% block title %}
    Due date
{% endblock %}


{% block content %}
    <div class="my_container">
        <div class="card">
            <h3>Un indice pour le pronostic ?</br>
            Indiquez la date du therme</h3>
            <form method="post">
                {%if due_date %}
                    <input type="date" class="form-control text-center" name="due_date" value="{{due_date}}" required>
                {%else%}
                    <input type="date" class="form-control text-center" name="due_date" value="{{ '' }}" required>
                {%endif%}
                <button type="submit" class="my_btn" >Modifier</button>
            </form>
            {% if error %}
                <div class="alert alert-danger mt-3">{{ error }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
