{% extends 'base.html' %}

{% block title %}
    Create project
{% endblock %}


{% block content %}
    <div class="my_container">
        <div class="inert_card">
            <h1>Créer un projet</h1>
            <form method="post">
                <input type="text" class="form-control text-center" name="project_name" placeholder="Nom du projet" required>                
                <button type="submit" class="my_btn">Créer</button>
            </form>
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
