{% extends 'base.html' %}

{% block title %}
    Join project
{% endblock %}


{% block content %}
    <div class="my_container">
        <div class="inert_card">
            <h1>Rejoindre un projet</h1>
            <form method="post">
                <input type="text" class="form-control text-center" name="project_to_join" placeholder="Lien d'affiliation" required>                
                <button type="submit" class="my_btn">Rejoindre</button>
            </form>
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
