{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <div class="my_container">
        <div class="inert_card">
            <h1>Connexion</h1>
            <form method="post">
                <label for="email">Adresse mail</label>
                <input type="text" class="form-control text-center" name="email" required>
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control text-center" name="password" required>
                <button type="submit" class="my_btn">Se connecter</button>
            </form>

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            
            <p>Vous n'avez pas de compte? <a href="{{ url_for('auth.register') }}">Inscrivez-vous</a></p>
            
        </div>
    </div>


{% endblock %}