{% extends 'base.html' %}

{% block title %}
    Liste de naissance
{% endblock %}


{% block content %}
 <!-- Récupération du prono concernant le sexe afin de mettre en forme les boutons en conséquence -->
 <div id="gender_choice" data-gender="{{ session['gender_choice'] }}"></div>
  <!-- Récupération de l'info pour savoir si l'utilisateur est admin -->
  <div id="user_is_admin" data-gender="{{ session['user_is_admin'] }}"></div>

    {% if session.selected_project.id %}
        <div class="my_container">
            <h1>Liste de naissance</h1>
            {% if products %}
                <div class="custom-card-container">
                    {% for product in products %}
                    <a href="{{ url_for('views.product_details', product_id=product.id) }}" class="product-link" style="text-decoration: none;">
                        <div class="product-card">
                            <!-- Image du produit -->
                            <div class="product-image">
                                <img src="{{ product.image_url }}" alt="{{ product.name }}" style="max-height: 200px;">
                            </div>
                            <div class="product-details">
                                <!-- Titre du produit -->
                                <div class="product-title">{{ product.name }}</div>
                                <!-- Description du produit -->
                                <div class="product-description">{{ product.description }}</div>
                        
                                {% if product.left_to_pay == 0 %}
                                    <div class="product-price-current">Produit financé !</div>
                                {% else %}
                                    {% if product.price == product.left_to_pay %}
                                        <!-- Prix de base -->
                                        <div class="product-price-current">{{ product.price }}€</div>
                                    {% else %}
                                        <!-- Prix initial -->
                                        <div class="product-price-original">{{ product.price }}€</div>
                                        <!-- Prix restant -->
                                        <div class="product-price-current">{{ product.left_to_pay }}€</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </a>



                    
                    
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center">Aucun produit trouvé pour le moment</p>
            {% endif %}
        </div> 
        

        {% if session['user_is_admin'] %}
            <!-- <div class="col offset-md-3 col-md-6 col-sm-12 text-center mt-5">
                <a href="/add_product" class="btn btn-primary">Ajouter un produit</a>
            </div> -->
            <div class="my_container">
                <button onclick="window.location.href='/add_product'" id="my_button" class="my_btn">Ajouter un produit</button>
            </div>
        {% endif %}


    {% else %}
        Aucun projet sélectionné.
    {% endif %}


<script>
    document.addEventListener('DOMContentLoaded', function() {
    // Mise en forme boutons en fonction su sexe
        // Récupération du prono
        var genderChoiceElement = document.getElementById('gender_choice');
        var genderChoice = genderChoiceElement.dataset.gender;

        // Récupération de l'id du bouton
        var button = document.getElementById('my_button');

        // Définir la classe en fonction de la valeur de gender_choice
        if (genderChoice === "Fille") {
            button.classList.add("gender_girl");
        } else if (genderChoice === "Garçon") {
            button.classList.add("gender_boy");
        } else {
            button.classList.add("no_gender");
        }
    });
</script>

{% endblock %}
