{% extends 'base.html' %}

{% block title %}
    My projects
{% endblock %}


{% block content %}


<div class="my_container">

    {% if user_is_admin %}

        <h1>Mon projet {{project_name}}</h1>
        
        
        {% if user_participations %}
        <h2>Participations à ma liste de naissance</h2>
            <table>
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Produit</th>
                        <th>Participation</th>
                        <th>Date</th>
                    </tr>
                </thead>

                <tbody>
                    {% for email, participations in user_participations.items() %}
                        {% for participation in participations %}
                            <tr>
                                <td>{{ email }}</td>
                                <td>{{ participation[1] }}</td>
                                <td>{{ participation[2] }}€</td>
                                <td>{{ participation[3] }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>

            </table>

        {%else%}
        <!-- Je ne mets rien -->
        {%endif%}

        <button class="my_btn" onclick="copyTextToClipboard()">Copier mon lien d'affiliation</button>

        {% if modify_project == false %}
            <form id="modify_projectForm" method="post">
                <input type="hidden" id="modify_project" name="modify_project" value="true">
                <button type="submit" class="my_btn" id="btn_modify_project">Modifier le projet {{project_name}}</button>
            </form>
        {%else%}
        <div class="d-flex flex-row justify-content-around" style="width: 100%;">
            <!-- Bouton concernant le RIB -->
            {%if admin_rib %}
            <button onclick="window.location.href='/rib'" class="my_small_btn">Modifier mon RIB</button>
            {%else%}
                <button onclick="window.location.href='/rib'" class="my_small_btn">Ajouter mon RIB</button>
            {%endif%}

            <!-- Bouton concernant le renommage du projet -->
            <button onclick="window.location.href='/rename_project'" class="my_small_btn">Renommer le projet</button>

            <!-- Bouton concernant la suppression du projet -->
            <button onclick="openModal_delete_project()" class="my_small_btn">Supprimer le projet</button>
        </div>

        {%endif%}


    {%else%}

        <button onclick="window.location.href='/create_project'" class="my_btn">Créer un projet</button>

    {%endif%}

    
    {%if projects_dict_special %}
    <h1>Les projets dont je fais partie</h1>
        {% for project_name, admin_rib in projects_dict_special.items() %}
            {% if admin_rib %}
                <div class="my_container">
                    <div class="product-card" id="product_card" data-rib="{{ admin_rib }}" onclick="copyRIBToClipboard(event)">
                        <div class="product-title">{{ project_name }}</div>
                        <div class="product-description">Cliquez pour obtenir le RIB</div>
                    </div>
                </div>
            {%else%}
                <div class="my_container">
                    <div class="product-card" id="product_card">
                        <div class="product-title">{{ project_name }}</div>
                    </div>
                </div>
            {%endif%}
        {% endfor %}


    {%else%}
    <!-- Je ne mets rien -->
    {%endif%}

    {% if user_participations_side_project %}
        <h1 class="page_title mt-4">Ma participation aux listes de naissance</h1>
            <table>
                <thead>
                    <tr>
                        <th>Projet</th>
                        <th>Produit</th>
                        <th>Participation</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project_name, participations in user_participations_side_project.items() %}
                        {% for participation in participations %}
                            <tr>
                                <td>{{ project_name }}</td>
                                <td>{{ participation[0] }}</td>
                                <td>{{ participation[1] }}€</td>
                                <td>{{ participation[2] }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>

    {%else%}
    <!-- Je ne mets rien -->
    {%endif%}
        <a href="/join_project" class="my_btn">Rejoindre un projet</a>
</div>




<!-- Structure de la fenêtre modale pour supprimer son projet -->
<div id="myModal_delete_project" class="modal">
    <div class="modal-content">
    <span class="close-icon" onclick="closeModal_delete_project()" style="float:right;">&times;</span>
        <div class="col offset-md-3 col-md-6 col-sm-12">
            <form method="POST" action="{{ url_for('views.delete_project') }}" class="p-5 text-center">        
                <p>ATTENTION Cette action est irréversible !</p> 
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button type="submit" class="btn btn-danger">Supprimer mon projet</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
// Afficher et masquer la fenêtre modale
    function openModal_delete_project() {
            document.getElementById('myModal_delete_project').style.display = 'block';
        }
        
        function closeModal_delete_project() {
            document.getElementById('myModal_delete_project').style.display = 'none';
        }




//Mise en forme du message informant du copier/coller du lien d'affiliation
    function copyTextToClipboard() {
        const textToCopy = "http://127.0.0.1:5000/register?project_id={{project_id}}";
        const notification = document.createElement('div');
        notification.classList.add('copy-notification');
        notification.textContent = "Lien copié";

        document.body.appendChild(notification);

        navigator.clipboard.writeText(textToCopy).then(function() {
            setTimeout(function() {
                notification.remove();
            }, 2000);
        }, function(err) {
            console.error('Erreur lors de la copie du lien: ', err);
        });
    }

//Mise en forme du message informant du copier/coller du RIB
    function copyRIBToClipboard(event) {
    const textToCopy = event.currentTarget.getAttribute('data-rib');
    const notification = document.createElement('div');
    notification.classList.add('copy-notification');
    notification.textContent = "RIB copié";

    document.body.appendChild(notification);

    navigator.clipboard.writeText(textToCopy).then(function() {
        setTimeout(function() {
            notification.remove();
        }, 2000);
    }, function(err) {
        console.error('Erreur lors de la copie du RIB: ', err);
    });
}



</script>


{% endblock %}
