{% extends 'base.html' %}

{% block title %}
    My projects
{% endblock %}


{% block content %}


<div class="my_container">

    {% if user_is_admin %}
        <!-- Tableau avec les participations à sa liste de naissance -->
        {% if user_participations %}
        <h2>Participations à ma liste de naissance</h2>
        <p>Cliquez sur la ligne pour obtenir plus d'informations</p>
            <table>
                <thead>
                    <tr>
                        <th>Statut</th>
                        <th>Utilisateur</th>
                        <th>Produit (participation)</th>
                    </tr>
                </thead>

                <tbody>
                    {% for username, participations in user_participations.items() %}
                        {% for participation in participations %}
                        <tr class="clickable-row" data-href="{{ url_for('views.participation_details') }}?participation_id={{ participation[0] }}">
                                <td>{{ participation[5] }}</td>
                                <td>{{ username }}</td>
                                <td>{{ participation[2] }} ({{ participation[3] }})</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        {%else%}
        <!-- Je ne mets rien -->
        {%endif%}

        <div class="two_btn_container">
            <button onclick="window.location.href='/modify_my_projects'" class="my_btn" style="margin-right: 10px;" >Modifier </br> "{{project_name}}"</button>
            <button class="my_btn" onclick="copyTextToClipboard()">Copier mon lien d'affiliation</button>
        </div>
        

    {%else%}
    <div class="btn_container">
        <button onclick="window.location.href='/create_project'" class="my_btn">Créer un projet</button>
    </div>
    {%endif%}

    
    {%if projects_dict_special %}
    <h1>Les projets dont je fais partie</h1>
       
        {% for project_name, project_details in projects_dict_special.items() %}

            {% if project_details.admin_rib_key %}
                    <div class="project_card" data-rib="{{ project_details.admin_rib_key }}" onclick="copyRIBToClipboard(event)">
                        <div class="product-title">{{ project_name }}</div>
                        <div class="product-description">Cliquez pour obtenir le RIB</div>
                    </div>
            {%else%}
                    <div class="project_card project_card_inert" id="my_projects_cards">
                        <div class="product-title">{{ project_name }}</div>
                    </div>
            {%endif%}
            
        {% endfor %}


    {%else%}
    <!-- Je ne mets rien -->
    {%endif%}

    {% if user_participations_side_project %}
    <!-- Tableau avec mes participations aux listes de naissance -->
        <h1 class="page_title mt-4">Ma participation aux listes de naissance</h1>
            <table>
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Projet</th>
                        <th>Produit (Participation)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project_name, participations in user_participations_side_project.items() %}
                        {% for participation in participations %}
                            <tr class="clickable-row" data-href="{{ url_for('views.participation_details') }}?participation_id={{ participation[0] }}">
                                <td>{{ participation[3] }}</td>
                                <td>{{ project_name }}</td>
                                <td>{{ participation[1] }} ({{ participation[2] }})</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>

    {%else%}
    <!-- Je ne mets rien -->
    {%endif%}
    <div class="btn_container">
        <button onclick="window.location.href='/join_project'" class="my_btn">Rejoindre un projet</button>
    </div>
</div>




<!-- Structure de la fenêtre modale pour supprimer son projet -->
<div id="myModal_delete_project" class="modal">
    <div class="modal-content">
    <span class="close-icon" onclick="closeModal_delete_project()" style="float:right;">&times;</span>
        <div class="col offset-md-3 col-md-6 col-sm-12">
            <form method="POST" action="{{ url_for('views.delete_project') }}" class="p-5 text-center">        
                <p>ATTENTION Cette action est irréversible !</p> 
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button type="submit" class="btn btn-danger">Supprimer mon projet</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
//LIgne du tableau cliquable
document.addEventListener("DOMContentLoaded", function() {
    const rows = document.querySelectorAll(".clickable-row");
    rows.forEach(row => {
        row.addEventListener("click", function() {
            window.location.href = this.dataset.href;
        });
    });
});


// Afficher et masquer la fenêtre modale
    function openModal_delete_project() {
            document.getElementById('myModal_delete_project').style.display = 'block';
        }
        
        function closeModal_delete_project() {
            document.getElementById('myModal_delete_project').style.display = 'none';
        }




//Mise en forme du message informant du copier/coller du lien d'affiliation
    function copyTextToClipboard() {
        const textToCopy = "https://bb-site-9cb27accfdde.herokuapp.com//register?project_id={{project_id}}";
        const buttonRect = event.currentTarget.getBoundingClientRect(); // Récupère les dimensions du bouton

        
        const notification = document.createElement('div');
        notification.classList.add('copy-notification');
        notification.textContent = "Lien copié";

        // Calcule la position verticale pour placer la notification sous le bouton
        const notificationTop = buttonRect.top;

        //// Calcule la position horizontale pour placer la notification au milieu du bouton
        const notificationLeft = buttonRect.left;

        // Positionne la notification
        notification.style.position = 'absolute';
        notification.style.left = `${notificationLeft}px`; // Place la notification à la même position horizontale que le bouton
        notification.style.top = `${notificationTop}px`; // Place la notification sous le bouton

        document.body.appendChild(notification);

        navigator.clipboard.writeText(textToCopy).then(function() {
            setTimeout(function() {
                notification.remove();
            }, 2000);
        }, function(err) {
            console.error('Erreur lors de la copie du lien: ', err);
        });
    }

//Mise en forme du message informant du copier/coller du RIB
function copyRIBToClipboard(event) {
    const textToCopy = event.currentTarget.getAttribute('data-rib');
    const buttonRect = event.currentTarget.getBoundingClientRect(); // Récupère les dimensions du bouton

    const notification = document.createElement('div');
    notification.classList.add('copy-notification');
    notification.textContent = "RIB copié";

    // Calcule la position verticale pour placer la notification sous le bouton
    const notificationTop = buttonRect.top;

    //// Calcule la position horizontale pour placer la notification au milieu du bouton
    const notificationLeft = buttonRect.left;

    // Positionne la notification
    notification.style.position = 'absolute';
    notification.style.left = `${notificationLeft}px`; // Place la notification à la même position horizontale que le bouton
    notification.style.top = `${notificationTop}px`; // Place la notification sous le bouton

    // Ajoute la notification au body
    document.body.appendChild(notification);

    // Copie le texte dans le presse-papiers
    navigator.clipboard.writeText(textToCopy).then(function() {
        setTimeout(function() {
            notification.remove(); // Supprime la notification après 2 secondes
        }, 2000);
    }, function(err) {
        console.error('Erreur lors de la copie du RIB: ', err);
    });
}



</script>


{% endblock %}
