{% extends 'base.html' %}

{% block title %}
    Mon profil
{% endblock %}


{% block content %}

    <div class="my_container">
        <h1>Mon Profil</h1>
        <div class="multiple_btn_container">
            <a href="/change_username" class="my_btn">Changer le nom d'utilisateur</a>
            <a href="/change_email" class="my_btn">Changer l'adresse mail</a>
            <a href="/change_password" class="my_btn">Changer le mot de passe</a>
            
        </div>
        <button onclick="openModal_delete_profil()" class="my_btn red_admin_button">Supprimer le profil</button>
    </div>

    
<!-- Structure de la fenêtre modale pour supprimer son profil -->
    <div id="myModal_delete_profil" class="modal">
        <div class="modal-content">
            <span class="close-icon" onclick="closeModal_delete_profil()" style="float:right;">&times;</span>
            <div class="col offset-md-3 col-md-6 col-sm-12">
                <form method="POST" action="{{ url_for('auth.delete_account') }}" class="p-5 text-center">
                    <p>ATTENTION cette action est irréversible !</p>
                    <div class="d-grid gap-2 col-12 mx-auto">
                        <button type="submit" class="btn btn-danger">Supprimer mon profil</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<script>
    function openModal_delete_profil() {
        document.getElementById('myModal_delete_profil').style.display = 'block';
    }
    
    function closeModal_delete_profil() {
        document.getElementById('myModal_delete_profil').style.display = 'none';
    }
</script>


{% endblock %}
