{% extends 'base.html' %}

{% block title %}
    Product participation
{% endblock %}


{% block content %}



{% endblock %}

<!-- <div>
    <a href="{{ url_for('views.menu_1') }}">
        <img src="{{ url_for('static', filename='images/left-arrow.png') }}" alt="Logo" style="max-width: 50px; margin: 0 0 0 10px;">
    </a>
</div>

<div class="container">
    <div class="card text-center" style="max-width: 400px; margin: 0 auto;">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">Prix initial : {{ product.price }}€</p>
            <p class="card-text">Montant restant : {{ left_to_pay }}€</p>
            <a href="#" class="btn btn-secondary mb-2" data-url="{{ product.url_source }}" onclick="checkURLAndRedirect(this)">Voir le produit</a>
        </br>
        </br>
        <p>La confirmation de votre participation est à titre indicatif, nous nous chargerons d'acheter les produits une fois ceux-ci financés.</p>
        <p>Vous trouverez toutes les informations pour nous faire parvenir votre participation ICI</p>

        <form action="{{ url_for('views.confirm_participation', product_id=product.id) }}" method="post">
            <div class="text-center">
                <input type="range" class="form-range" id="participation_range" name="participation_range" min="1" max="{{left_to_pay}}" step="1" value="0" oninput="updatePriceFromRange(this.value)">
                <input type="number" id="price_input" min="1" max="1000" step="1" value="1" class="text-center" oninput="updateRangeFromInput(this.value)">
                <span>€</span>
            </div>


            <div class="text-center">
                    <button onclick="window.location.href='/add_product'" id="my_button" class="my_btn validate-btn" >Participer</button>
            </div>

        </form>

    </div>
</div> -->



<script>
    const range = document.getElementById('participation_range');
    const input = document.getElementById('price_input');

    // Initial sync
    input.value = range.value;

    function updatePriceFromRange(value) {
        input.value = value;
    }

    function updateRangeFromInput(value) {
        range.value = value;
    }


    // Vérification de l'url pour la réorientation vers le produit
    async function checkURLAndRedirect(button) {
            const url = button.getAttribute('data-url');
            try {
                const response = await fetch(url, { method: 'HEAD' });
                if (response.ok) {
                    window.open(url, '_blank');
                } else {
                    throw new Error('URL inaccessible');
                }
            } catch (error) {
                alert("Le lien est temporairement inaccessible.");
                // Rediriger vers une page alternative
                // window.location.href = "{{ url_for('views.menu_1') }}";
            }
        }

    // Je mets à jour la class de mon bouton en fonction de la valeur de gender_choice
    // Voir à terme comment mettre ce code dans le fichier script.js afin d'éviter de le dupliquer partout
        // Récupérer le bouton par son ID
        var button = document.getElementById('my_button');

        // Récupérer la valeur de gender_choice
        var gender_choice = "{{gender_choice}}" ;


        // Définir la classe en fonction de la valeur de gender_choice
        if (gender_choice === "Fille") {
            button.classList.add("gender_girl");
        } else if (gender_choice === "Garçon") {
            button.classList.add("gender_boy");
        } else {
            button.classList.add("no_gender");
        }
</script>

