{% extends 'base.html' %}

{% block title %}
    Product participation
{% endblock %}


{% block content %}
<div>
    <!-- Mise en place d'une flèche pour revenir à menu_1.html -->
    <a href="{{ url_for('views.menu_1') }}">
        <img src="{{ url_for('static', filename='images/left-arrow.png') }}" alt="Logo" style="max-width: 50px; margin: 0 0 0 10px;">
    </a>
</div>

<div class="container">
    <div class="card text-center" style="max-width: 400px; margin: 0 auto;">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">Prix initial : {{ product.price }}€</p>
            <p class="card-text">Montant restant : {{ left_to_pay }}€</p>
            <a href="{{ product.url_source }}" class="btn btn-secondary mb-2" target="_blank">Voir le produit</a>
        </br>
        </br>
        <p>La confirmation de votre participation est à titre indicatif, nous nous chargerons d'acheter les produits une fois ceux-ci financés.</p>
        <p>Vous trouverez toutes les informations pour nous faire parvenir votre participation ICI</p>

        <form action="{{ url_for('views.confirm_participation', product_id=product.id) }}" method="post">
            <div class="text-center">
                <input type="range" class="form-range" id="participation_range" name="participation_range" min="0" max="{{left_to_pay}}" step="5" oninput="updateparticipation(this.value)">
                <span id="participation">0</span> €
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Participer</button>
            </div>
        </form>

    </div>
</div>


<script>


    // Fonction pour mettre à jour la valeur du reste à payer
    function updateparticipation(value) {
        document.getElementById("participation").textContent = value;
    }

    // Mettre à jour la valeur de départ du curseur pour le reste à payer
    window.onload = function() {
        var Initialparticipation = "0";
        document.getElementById("participation_range").value = Initialparticipation;
        updateparticipation(Initialparticipation);
    };

</script>

{% endblock %}
