{% extends 'base.html' %}

{% block title %}
    Create project
{% endblock %}


{% block content %}
    <div class="my_container">
        <div class="card">
            <h1>Renommer votre projet</h1>
            <form method="post">
                <label for="project_name">Nom du projet</label>
                <input type="text" class="form-control" name="new_project_name" placeholder="{{actual_name}}" required>
                <button type="submit" class="my_btn">Renommer</button>
            </form>
            {% if error %}
                <div class="alert alert-danger mt-3">{{ error }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
