{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}

    <h1 class="page_title">Mon projet {{project_name}}</h1>
    </br>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card">
            <form method="post">
                <div class="form-group ">
                    <label for="rib">Mon RIB</label>
                    <input type="text" class="form-control text-center" name="rib" placeholder="{{actual_rib}}" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Valider</button>
            </form>
        </br>
            <p>Votre rib sera accessible à chaque personne participant à votre liste de naissance</p>
        </div>
    </div>

{% endblock %}