{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}

    <div class="my_container">
        <div class="card">
            {% if actual_rib %}
            <h1>Modifier mon RIB</h1>
            {% else %}
            <h1>Ajouter mon RIB</h1>
            {% endif %}
            <form method="post">
                <label for="project_name">Mon RIB</label>
                {% if actual_rib %}
                    <input type="text" class="form-control text-center" name="rib" placeholder="{{actual_rib}}" required>
                {% else %}
                    <input type="text" class="form-control text-center" name="rib" placeholder="Votre RIB" required>
                {% endif %}
                <button type="submit" class="my_btn validate-btn admin_button">Valider</button>
            </form>
        </br>
            <p>Votre rib sera accessible à chaque personne participant à votre liste de naissance</p>
        </div>
    </div>

{% endblock %}