{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

{%for product in products%}
<div class="my_container">
    <div class="inert_card">
        <h1>Modifier le produit</h1>
        <form method="post">
                <label for="text">Titre du produit</label>
                <input type="text" class="form-control text-center" name="product_name" placeholder="{{product.name}}" >

                <label for="text">Description</label>
                <input type="text" class="form-control text-center" name="product_description" placeholder="{{product.description}}" >

                <label for="text">Prix</label>
                <input type="text" class="form-control text-center" name="product_price" placeholder="{{product.price}}" >

                <label for="text">url du produit</label>
                <input type="text" class="form-control text-center" name="product_url_source" placeholder="{{product.url_source}}" >
            
            <div class="text-center">
                {%if gender_choice == "Fille"%}
                    <button type="submit" class="my_btn validate-btn gender_girl">Modifier</button>
                {%elif gender_choice == "Garçon"%}
                    <button type="submit" class="my_btn validate-btn gender_boy">Modifier</button>
                {%else%}
                    <button type="submit" class="my_btn validate-btn no_gender">Modifier</button>
                {%endif%}
            </div>

        </form>
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
    </div>
</div>
{%endfor%}


{% endblock %}
