{% extends 'base.html' %}

{% block title %}
    Ajouter un Second Admin
{% endblock %}

{% block content %}
<body>
    <a href="{{ url_for('views.modify_my_projects') }}">
        <img src="{{ url_for('static', filename='images/left-arrow.png') }}" alt="Retour" style="max-width: 50px; margin: 0 0 0 10px;">
    </a>

    <div class="my_container">
        <div class="my_card inert_card">
            {%if second_admin_username%}

                <div class="my_container">
                    <h1>Modifier le 2nd admin</h1>
                </div>
                
                <form action="{{ url_for('views.add_second_admin') }}" method="POST">
                    <div class="form-group">
                        <input type="email" id="admin_email" name="admin_email" class="form-control text-center" value={{second_admin_email}} required>
                    </div>
                    <button type="submit" class="my_btn">Modifier</button>
                    <button type="button" onclick="window.location.href='/delete_second_admin'" class="my_btn red_admin_button">Supprimer l'admin</button>
                </form>
            {%else%}
                <h1>Ajouter un 2nd admin</h1>
                <p>Il pourra accéder aux réponses des pronostics, ajouter des produits à la liste de naissance ainsi que des photos à la galerie</p>
                <form action="{{ url_for('views.add_second_admin') }}" method="POST">
                    <div class="form-group">
                        <input type="email" id="admin_email" name="admin_email" class="form-control text-center" placeholder="Entrez l'email" required>
                    </div>
                    <button type="submit" class="my_btn">Ajouter</button>
                </form>
            {%endif%}
        </div>
        

    </div>
</body>
{% endblock %}
