{% extends 'base.html' %}

{% block title %}
    Join project
{% endblock %}


{% block content %}
    <!-- Mise en place d'une flèche pour revenir à l'environnement précédent -->
    <a href="{{ url_for('views.my_projects') }}">
        <img src="{{ url_for('static', filename='images/left-arrow.png') }}" alt="Logo" style="max-width: 50px; margin: 0 0 0 10px;">
    </a>

    <div class="my_container">
        <div class="my_card inert_card">
            <h1>Rejoindre un projet</h1>
            <form method="post">
                <input type="text" class="form-control text-center" name="project_to_join" placeholder="Lien d'affiliation" required>                
                <button type="submit" class="my_btn">Rejoindre</button>
            </form>
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
