{% extends 'base.html' %}

{% block title %}
    My projects
{% endblock %}


    {% block content %}
    <!-- Mise en place d'une flèche pour revenir à l'environnement précédent -->
    <a href="{{ url_for('views.my_projects') }}">
        <img src="{{ url_for('static', filename='images/left-arrow.png') }}" alt="Logo" style="max-width: 50px; margin: 0 0 0 10px;">
    </a>

    <h1>Modifier le projet</h1>
    <div class="my_container">
        <div class="two_btn_container">
            <button onclick="window.location.href='/rename_project'" class="my_btn">Renommer</button>
            {%if admin_iban %}
            <button onclick="window.location.href='/iban'" class="my_btn">Modifier l'IBAN</button>
                {%else%}
            <button onclick="window.location.href='/iban'" class="my_btn">Ajouter l'IBAN</button>
                {%endif%}
            <button onclick="window.location.href='/add_second_admin'" class="my_btn">2nd admin</button>
        </div>
            


        <h2>Les indices concernant le pronostic</h2>
        <div class="two_btn_container">
            <button onclick="window.location.href='/change_clue_name'" class="my_btn">Le Prénom</button>
            <button onclick="window.location.href='/change_clue_due_date'" class="my_btn">La Date</button>
        </div>
        
    </div>

    <div class="my_container">
        <h1>Supprimer mon projet</h1>
        <p>Si vous souhaitez supprimer votre projet, cliquez sur le bouton ci-dessous.</p>
        <button onclick="openModal_delete_project()" class="my_btn red_admin_button">Supprimer le projet</button>
    </div>

    <div class="my_container">
        <!-- Structure de la fenêtre modale pour supprimer son projet -->
        <div id="myModal_delete_project" class="modal" onclick="closeModal_delete_project()">
            <div class="modal_content">
                <div class="exit_cross">
                    <span class="close_icon" onclick="closeModal_delete_project()">&times;</span>
                </div>
                <form method="POST" action="{{ url_for('views.delete_project') }}" class="p-2 text-center">        
                    <p>ATTENTION Cette action est irréversible !</p> 
                    <button type="submit" class="btn btn-danger">Supprimer mon projet</button>
                </form>
            </div>
        </div>
    </div>




    <script>
    // Afficher et masquer la fenêtre modale
        function openModal_delete_project() {
                document.getElementById('myModal_delete_project').style.display = 'flex';
            }
            
            function closeModal_delete_project() {
                document.getElementById('myModal_delete_project').style.display = 'none';
            }

    </script>


{% endblock %}
