{% extends 'base.html' %}

{% block title %}
    Product details
{% endblock %}


{% block content %}

<div>
    <!-- Mise en place d'une flèche pour revenir à my_projects.html -->
    <a href="{{ url_for('views.my_projects') }}">
        <img src="{{ url_for('static', filename='images/left-arrow.png') }}" alt="Logo" style="max-width: 50px; margin: 0 0 0 10px;">
    </a>
</div>

 <div class="my_container">
    <div class="inert_card" id="product_card">

        <h1 class="product_detail_title">Participant</h1>
        <div class="product_detail_info">{{user_username}}</div>

        <h1 class="product_detail_title">Produit</h1>
        <div class="product_detail_info">{{product_name}}</div>

        {% if type == "€" %}
            <h1 class="product_detail_title">Participation</h1>
            <div class="product_detail_info">{{montant}}€</div>
        {% elif type == "donation" %}
            <h1 class="product_detail_title">Participation</h1>
            <h1 class="product_detail_info">DON</h1>
        {%else%}
            <h1 class="product_detail_title">Participation</h1>
            <h1 class="product_detail_info">PRÊT</h1>
        {% endif %}

        <h1 class="product_detail_title">Statut</h1>
        <div class="product_detail_info">{{status}}</div>

        {% if status != "Terminé" %}
            {%if user_is_admin == True %}
                {%if status != "Reçu"%}
                    <form action="{{ url_for('views.participation_details')}}" method="post">
                        <input type="hidden" name="participation_received" value=True>
                        <input type="hidden" name="participation_id" value="{{participation_id}}">
                        <button type="submit" class="my_btn">Participation reçu</button>
                    </form>
                {%else%}
                    {% if status == "Reçu" %}
                        <form action="{{ url_for('views.participation_details')}}" method="post">
                            <input type="hidden" name="thanks_sent" value=True>
                            <input type="hidden" name="participation_id" value="{{participation_id}}">
                            <button type="submit" class="my_btn">Remerciements envoyés</button>
                        </form>
                    {% endif %}
                {%endif%}
            {%else%}
                {%if status == "Promesse"%}
                <form action="{{ url_for('views.participation_details')}}" method="post">
                    <input type="hidden" name="participation_send" value=True>
                    <input type="hidden" name="participation_id" value="{{participation_id}}">
                    <button type="submit" class="my_btn">Participation envoyée</button>
                </form>
                {%endif%}
            {%endif%}
        {%endif%}
    </div>
 </div>

{% endblock %}
