{% extends 'base.html' %}

{% block title %}
    Rename project
{% endblock %}


{% block content %}
    <!-- Mise en place d'une flèche pour revenir à l'environnement précédent -->
    <a href="{{ url_for('views.modify_my_projects') }}">
        <img src="{{ url_for('static', filename='images/left-arrow.png') }}" alt="Logo" style="max-width: 50px; margin: 0 0 0 10px;">
    </a>

    <div class="my_container">
        <div class="my_card inert_card">
            <h1>Renommer votre projet</h1>
            <form method="post">
                <label for="project_name">Nom du projet</label>
                <input type="text" class="form-control text-center" name="new_project_name" value="{{actual_name}}" maxlength="50" required>
                <button type="submit" class="my_btn">Renommer</button>
            </form>
            {% if error %}
                <div class="alert alert-danger mt-3">{{ error }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
