{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <!-- Mise en place d'une flèche pour revenir à l'environnement précédent -->
    <a href="{{ url_for('views.modify_my_projects') }}">
        <img src="{{ url_for('static', filename='images/left-arrow.png') }}" alt="Logo" style="max-width: 50px; margin: 0 0 0 10px;">
    </a>

    <div class="my_container">
        <div class="my_card inert_card">
            {% if actual_rib %}
            <h1>Modifier votre RIB</h1>
            {% else %}
            <h1>Ajouter votre RIB</h1>
            {% endif %}
            <form method="post">
                {% if actual_rib %}
                    <input type="text" class="form-control text-center" name="rib" value="{{actual_rib}}" maxlength="150">
                {% else %}
                    <input type="text" class="form-control text-center" name="rib" placeholder="Votre RIB" maxlength="150" required>
                {% endif %}
                <button type="submit" class="my_btn validate-btn admin_button">Valider</button>
            </form>
        </br>
            <p>Votre rib sera accessible à chaque personne participant à votre liste de naissance</p>
        </div>
    </div>

{% endblock %}