{% extends 'base.html' %}

{% block title %}
    Suivi de l'Alimentation
{% endblock %}

{% block content %}
<body>
    <a href="{{ url_for('views.suivi') }}">
        <img src="{{ url_for('static', filename='images/left-arrow.png') }}" alt="Logo" style="max-width: 50px; margin: 0 0 0 10px;">
    </a>
    <div class="my_container">
        <h1>Suivi de l'Alimentation</h1>
    
        <!-- Formulaire d'ajout -->
        <div class="my_card inert_card">
            <form method="post">
                <div>
                    <label>Type de Nourriture :</label><br>
                    <button type="button" class="my_btn" id="autre-btn" onclick="selectAutre()">Tétée</button>
                    <button type="button" class="my_btn" id="biberon-btn" onclick="showBiberonField()">Biberon</button>
                    <button type="button" class="my_btn" id="solide-btn" onclick="showSolideField()">Solide</button>
                </div>
            
                <div id="biberon-field" style="display: none; margin-top: 10px;">
                    <label for="quantity">Quantité (ml) :</label>
                    <input type="number" id="quantity" name="quantity" min="0" step="1" placeholder="Volume en ml">
                </div>
            
                <div id="solide-field" style="display: none; margin-top: 10px;">
                    <label for="aliment">Aliment :</label>
                    <input type="text" id="aliment" name="aliment" placeholder="Nom de l'aliment">
                </div>

                <div id="all-field" style="display: none; margin-top: 10px;">
                    <label for="heure">Heure personnalisée :</label>
                    <input type="time" id="time" name="time">
                </div>
            
                <input type="hidden" id="feeding-type" name="feeding_type">
            
                <button type="submit" style="margin-top: 10px;" class="my_btn">Soumettre</button>
            </form>
        </div>

        <!-- Récapitulatif Journalier -->
        <h1>Aujourd'hui</h1>
        <div class="my_card inert_card">
            {% for hour in range(24) %}
                {% set hour_str = '%02d' % hour %}
                <div class="hour-zone {% if hourly_event_dict[hour_str].has_event %}highlight{% endif %}" id="hour-{{ hour }}">
                    {{ hour }}:00
                    {% if hourly_event_dict[hour_str].has_event %}
                        {{ hourly_event_dict[hour_str].event_type }}
                        {% if hourly_event_dict[hour_str].event_type == "biberon" %}
                            {{ hourly_event_dict[hour_str].quantity }}
                        {% elif hourly_event_dict[hour_str].event_type == "solide" %}
                            {{ hourly_event_dict[hour_str].quantity }}
                        {% endif %}
                        <!-- Formulaire pour supprimer l'événement -->
                        <form action="{{ url_for('views.delete_alimentation', event_id=hourly_event_dict[hour_str].id) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        
        <!-- Récapitulatif hebdo -->
        <div class="my_card">
            <h2>7 derniers jours</h2>

            {% if weekly_summary.avg_feedings_per_day > 0 %}
                <p>Nombre moyen de repas par jour : {{ weekly_summary.avg_feedings_per_day }}</p>
            {% endif %}
            
            {% if weekly_summary.avg_bottle_quantity > 0 %}
                <p>Quantité moyenne des biberons : {{ weekly_summary.avg_bottle_quantity }} ml</p>
            {% endif %}
            
            {% if weekly_summary.solid_foods %}
                {% if weekly_summary.solid_foods | length > 0 %}
                    <p>Aliments consommés cette semaine :</p>
                    <ul>
                        {% for food in weekly_summary.solid_foods %}
                        <li>{{ food }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        </div>

    

    <!-- JavaScripts -->
    <script>
        function showBiberonField() {
            document.getElementById('biberon-field').style.display = 'block';
            document.getElementById('solide-field').style.display = 'none';
            document.getElementById('all-field').style.display = 'block';
            document.getElementById('feeding-type').value = 'biberon';
    
            updateButtonClasses('biberon-btn', 'solide-btn', 'autre-btn');
        }
    
        function showSolideField() {
            document.getElementById('biberon-field').style.display = 'none';
            document.getElementById('solide-field').style.display = 'block';
            document.getElementById('all-field').style.display = 'block';
            document.getElementById('feeding-type').value = 'solide';
    
            updateButtonClasses('solide-btn', 'biberon-btn', 'autre-btn');
        }

        function selectAutre() {
            document.getElementById('biberon-field').style.display = 'none';
            document.getElementById('solide-field').style.display = 'none';
            document.getElementById('all-field').style.display = 'block';
            document.getElementById('feeding-type').value = 'Tétée';

            updateButtonClasses('autre-btn', 'biberon-btn', 'solide-btn');
        }
    
        function updateButtonClasses(selectedBtnId, otherBtnId, anotherBtnId) {
            const selectedBtn = document.getElementById(selectedBtnId);
            const otherBtn = document.getElementById(otherBtnId);
            const anotherBtn = document.getElementById(anotherBtnId);
    
            // Ajoute la classe btn_selected au bouton cliqué
            selectedBtn.classList.add('btn_selected');
            // Assure que les autres boutons ne l'ont pas
            otherBtn.classList.remove('btn_selected');
            anotherBtn.classList.remove('btn_selected');
        }



        


    </script>
    
</body>
{% endblock %}


        <!-- Récapitulatif Hebdomadaire
        <h1>Récapitulatif Hebdomadaire</h1>
        <div>
            <p>Total Quantité de Lait: {{ weekly_summary.total_quantity }} ml</p>
            <p>Nombre de Biberons: {{ weekly_summary.feedings_count }}</p>
            <p>Heure Moyenne des Prises: {{ weekly_summary.avg_time }}</p>
        </div>

        <h1>Récapitulatif Mensuel</h1>
        <div>
            <p>Total Quantité de Lait: {{ monthly_summary.total_quantity }} ml</p>
            <p>Nombre de Biberons: {{ monthly_summary.feedings_count }}</p>
            <p>Heure Moyenne des Prises: {{ monthly_summary.avg_time }}</p>
        </div> -->