{% extends 'base.html' %}

{% block title %}
    Photos
{% endblock %}

{% block content %}
<body>
    <div class="my_container">
        <h1>Ajouter une Photo</h1>
    </br>
        <form action="{{ url_for('views.add_photos') }}" method="POST" enctype="multipart/form-data">
            <input type="file" id="photo" name="photo" accept="image/*" required>
            </br>
            </br>
            <button type="submit" class="my_btn">Ajouter la Photo</button>
        </form>
    </div>
    
</body>
{% endblock %}
