{% extends 'base.html' %}

{% block title %}
    Photos
{% endblock %}

{% block content %}
    {% if ok_gilles %}
        <!-- Mise en place d'une flèche pour revenir à l'environnement précédent -->
        <a href="{{ url_for('views.photos') }}">
            <img src="{{ url_for('static', filename='images/left-arrow_white.png') }}" alt="Logo" style="max-width: 50px; margin: 0 0 0 10px;">
        </a>

        <div class="controls">
            <button id="prevBtn">Précédent</button>
            <button id="nextBtn">Suivant</button>
        </div>

        <div class="photo_container">
            <img id="photoDisplay" src="" alt="Photo">
        </div>

    {% else %}
        <style>
            body {
                background-color: #000000;
                color: white;
            }
        </style>
        <div class="my_container white_text">
            <h1>Coming Soon</h1>
            <p>Il faudra avoir un peu de patience avant l'ouverture de cet environnement !</p>
        </div>
    {% endif %}

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // La variable photosDatas contient les données JSON des photos
            const photosDatas = {{ photos_datas|tojson }};
            let currentIndex = 0;

            const photoDisplay = document.getElementById('photoDisplay');
            const prevBtn = document.getElementById('prevBtn');
            const nextBtn = document.getElementById('nextBtn');

            // Fonction pour mettre à jour la photo affichée
            function updatePhoto() {
                if (photosDatas.length > 0) {
                    photoDisplay.src = photosDatas[currentIndex].url;
                }
            }

            // Gestionnaire de clic pour le bouton Précédent
            prevBtn.addEventListener('click', function() {
                if (photosDatas.length > 0) {
                    currentIndex = (currentIndex > 0) ? currentIndex - 1 : photosDatas.length - 1;
                    updatePhoto();
                }
            });

            // Gestionnaire de clic pour le bouton Suivant
            nextBtn.addEventListener('click', function() {
                if (photosDatas.length > 0) {
                    currentIndex = (currentIndex < photosDatas.length - 1) ? currentIndex + 1 : 0;
                    updatePhoto();
                }
            });

            // Initialiser avec la première photo
            updatePhoto();
        });
    </script>

{% endblock %}
