{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <div class="my_container">
        <div class="my_card auth_card inert_card">
            <h1>Connexion</h1>
            <form method="post">
                <label for="email" class="register_title">Adresse mail</label>
                <input type="email" class="form-control text-center" name="email" required>

                <label for="password" class="register_title">Mot de passe</label>
                <span class="password-toggle" onclick="togglePassword()">
                    <i class="fa fa-eye" id="toggleIcon"></i>
                </span>
                <input type="password" class="form-control text-center" id="password" name="password" required>

                <button type="submit" class="my_btn">Se connecter</button>
            </form>

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            
            <p>Vous n'avez pas de compte? <a href="{{ url_for('auth.register') }}">Inscrivez-vous</a></p>
            
        </div>
    </div>


    <script>
        function togglePassword() {
            var passwordField = document.getElementById("password");
            var toggleIcon = document.getElementById("toggleIcon");
            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleIcon.classList.remove("fa-eye");
                toggleIcon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                toggleIcon.classList.remove("fa-eye-slash");
                toggleIcon.classList.add("fa-eye");
            }
        }
    </script>

{% endblock %}