{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}


{% block content %}
    <div class="my_container">
        <div class="my_card auth_card inert_card">
            <h1>S'inscrire</h1>
            <form method="post">

                <label for="username" class="register_title">Pseudo</label>
                <input type="username" class="form-control text-center" name="username" required>

                <label for="email" class="register_title">Adresse mail</label>
                <input type="email" class="form-control text-center" name="email" required>

                <!-- MDP -->
                <label for="password" class="register_title">Mot de passe</label>
                <span class="password-toggle" onclick="togglePassword()">
                    <i class="fa fa-eye" id="toggleIcon"></i>
                </span>
                <input type="password" id="password" class="form-control text-center" name="password" required>

                <label for="confirm_password" class="register_title">Confirmer le mot de passe</label>
                <span class="password-toggle" onclick="togglePassword2()">
                    <i class="fa fa-eye" id="toggleIcon"></i>
                </span>
                <input type="password" class="form-control text-center" name="confirm_password" id="password2" required>

                <!-- FIN MDP -->
                <div class="under_18_container">
                    <label for="over_18" class="register_title">Vous avez plus de 18 ans ?</label>
                    <input type="checkbox" id="over_18" name="over_18">
                </div>

                <button type="submit" class="my_btn">S'inscrire</button>
            </form>

            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <!-- J'envoi le lien d'affiliation au cas ou le user a déjà un compte et souhaite se connecter et rejoindre automatiquement le projet -->
            {% if request.args.get('project_id') %}
                <p>Vous avez déjà un compte ? <a href="{{ url_for('auth.login', project_id=request.args.get('project_id')) }}">Connectez-vous</a></p>
            {% else %}
                <p>Vous avez déjà un compte ? <a href="{{ url_for('auth.login') }}">Connectez-vous</a></p>
            {% endif %}
        </div>
    </div>

    <script>
        function togglePassword() {
            var passwordField = document.getElementById("password");
            var toggleIcon = document.getElementById("toggleIcon");
            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleIcon.classList.remove("fa-eye");
                toggleIcon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                toggleIcon.classList.remove("fa-eye-slash");
                toggleIcon.classList.add("fa-eye");
            }
        }

        function togglePassword2() {
            var passwordField = document.getElementById("password2");
            var toggleIcon = document.getElementById("toggleIcon");
            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleIcon.classList.remove("fa-eye");
                toggleIcon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                toggleIcon.classList.remove("fa-eye-slash");
                toggleIcon.classList.add("fa-eye");
            }
        }
    </script>
    
{% endblock %}
