{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}


{% block content %}
    <div class="my_container">
        <div class="inert_card">
            <h1>S'inscrire</h1>
            <form method="post">

                <label for="username">Nom</label>
                <input type="username" class="form-control text-center" name="username" required>

                <label for="email">Adresse mail</label>
                <input type="email" class="form-control text-center" name="email" required>

                <label for="password">Mot de passe</label>
                <input type="password" class="form-control text-center" name="password" required>

                <label for="confirm_password">Confirmer le mot de passe</label>
                <input type="password" class="form-control text-center" name="confirm_password" required>

                <button type="submit" class="my_btn">S'inscrire</button>
            </form>

            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <!-- J'envoi le lien d'affiliation au cas ou le user a déjà un compte et souhaite se connecter et rejoindre automatiquement le projet -->
            {% if request.args.get('project_id') %}
                <p>Vous avez déjà un compte ? <a href="{{ url_for('auth.login', project_id=request.args.get('project_id')) }}">Connectez-vous</a></p>
            {% else %}
                <p>Vous avez déjà un compte ? <a href="{{ url_for('auth.login') }}">Connectez-vous</a></p>
            {% endif %}
        </div>
    </div>

    
{% endblock %}
