{% extends 'base.html' %}

{% block title %}
    All pronostics
{% endblock %}


{% block content %}
<div class="my_container">
    {% if user_is_admin %}
    <div class="multiple_btn_container">
        {%if end_pronostics == True%}
            <form action="{{ url_for('views.pronostic_winner')}}" method="post">
                <input type="hidden" name="go_to_pronostic" value=false>
                <button type="submit" class="my_btn white_btn">Le gagnant</button>
            </form>
        {% if user_is_admin %}
        {%else%}
            <button onclick="window.location.href='/pronostic_answers'" class="my_btn white_btn">Résultat</button>
        {%endif%}
            <button type="button" id="btn_my_answers" class="my_btn">Mes réponses</button>
            <button type="button" id="pronostic_all_answers" class="my_btn">Les réponses</button>
        {%else%}
            <button type="button" id="btn_my_answers" class="my_btn white_btn" onclick="window.location.href='/pronostic'">Mes réponses</button>
            <button type="button" id="pronostic_all_answers" class="my_btn">Les réponses</button>
            <button type="button" class="my_btn white_btn" onclick="window.location.href='/all_pronostics'">La tendance</button>
        {%endif%}
    </div>

{%endif%}

</div>



<div class="my_container">
    {% for user_id, pronostic in all_pronostics.items() %}
        <div class="my_card prono_answers">
            <h5 class="card_title">{{ pronostic.username }}</h5>
            <p class="card_text"><strong>Sexe:</strong> {{ pronostic.sex }}</p>
            <p class="card_text"><strong>Nom:</strong> {{ pronostic.name }}</p>
            <p class="card_text"><strong>Poids:</strong> {{ pronostic.weight }} kg</p>
            <p class="card_text"><strong>Taille:</strong> {{ pronostic.height }} cm</p>
            <p class="card_text"><strong>Date:</strong> {{ pronostic.date }}</p>
        </div>
    {% endfor %}
</div>

<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script>

</script>
    
{% endblock %}
